// 主色调
$--color-primary: #41B883 !default;
// 功能色
$--color-link: #45a3f8 !default;
$--color-link-hover: #2177B9 !default;

// loading背景色
$--preloader-bg: #73A091 !default;
$--preloader-color: #fff !default;